<button class=@className @onclick="onClick">
    @ChildContent
</button>

@code {
    
    [Parameter] public string BootstrapStyle { get; set; } = "secondary";
    string className => $"btn btn-{BootstrapStyle}";

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? ButtonID { get; set; }

    [Parameter] public EventCallback<string> OnButtonClicked { get; set; }

    async void onClick() {
        await OnButtonClicked.InvokeAsync(ButtonID);
    }
}

